body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

/* {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
} */

/* PARALLEX SCROLLOING sTART */

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("1.jpg");
  min-height: 300%;
  /* top:-25;    */
  
}

.bgimg-2 {
  background-image: url("2.jpg");
  min-height: 200%;
}

.bgimg-3 {
  background-image: url("3.jpg");
  min-height: 100%;
}

.bgimg-4 {
  background-image: url("4.jpg");
  min-height: 100%;
}



.caption {
  position: absolute;
  left: 0;
  top: 1%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}

/* PARALLEX SCROLLOING END */

/* PARALLEX FOOTER START */
/* main {
  position: relative;
  z-index: 2;
  background: #F56469;
  height: 1500px;
  margin-bottom: 350px;
  box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
} */

/* main p {
  margin: 0;
  padding-top: 100px;
  font-size: 100px;
  text-align: center;
  color: #ddd; 
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 350px;  
  padding-left: 50px;
  background: #4B466F;
  font-size: 100px;
  color: #F56469;
} */
/* PARALLEX FOOTER END */

/* .media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 0;
} */

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #282e34;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand {
  /* display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; */

  padding-right: 22rem;
  padding-bottom: 1.8rem;

  /* float: left;
  padding-left: 22rem;
  text-align: center;
  width: 100%;
  padding-bottom: 1.8rem; */
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 100px;
  margin-bottom: 35px;
  margin-left: 320px;
  margin-right: 320px;
}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}